<!-- wp:template-part {"slug":"header","theme":"twentytwentytwo-ft-core","tagName":"header"} /-->

<!-- wp:group {"align":"full","style":{"color":{"gradient":"linear-gradient(3deg,rgb(255,255,255) 50%,rgb(251,249,250) 50%)"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background:linear-gradient(3deg,rgb(255,255,255) 50%,rgb(251,249,250) 50%)"></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"white","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-white-background-color has-background" style="margin-top:0px;margin-bottom:0px"><!-- wp:query-title {"type":"archive","fontFamily":"system-font"} /-->

<!-- wp:term-description /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}},"color":{"gradient":"linear-gradient(356deg,rgb(251,249,250) 50%,rgb(255,255,255) 50%)"}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull has-background" style="background:linear-gradient(356deg,rgb(251,249,250) 50%,rgb(255,255,255) 50%);margin-top:0px;margin-bottom:0px"></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:query {"queryId":47,"query":{"offset":0,"postType":"ft_theme","order":"desc","orderBy":"date","author":"","search":"","sticky":"","perPage":"50","inherit":false,"parents":[]},"displayLayout":{"type":"flex","columns":2},"align":"full","layout":{"inherit":true}} -->
<div class="wp-block-query alignfull"><!-- wp:post-template {"align":"full"} -->
<!-- wp:group {"style":{"border":{"radius":"0px","width":"2rem"},"spacing":{"blockGap":"var:preset|spacing|30","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|60","right":"var:preset|spacing|60","bottom":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"borderColor":"background","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-border-color has-background-border-color" style="border-width:2rem;border-radius:0px;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:post-featured-image {"isLink":true,"sizeSlug":"full","overlayColor":"background","style":{"border":{"radius":"1rem"}}} /-->

<!-- wp:figurentheater/ft-theme-demo-link /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentytwo-ft-core","tagName":"footer"} /-->
